<h1>this is the secret page</h1>

<p>
    THIS IS SPARTAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
</p>

<img height="420" width="520" src="https://img.huffingtonpost.com/asset/58c05efa1d000037037cd491.jpeg?ops=scalefit_720_noupscale">


<li><a href="/register">Sign up</a></li>
<li><a href="/login">Log In</a></li>
<li><a href="/logout">Log Out!</a></li>